html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: flex-start;
}

header {
    text-align: center;
    flex: 1;
}

.links {
    text-align: left;
    margin-bottom: auto;
    flex: 1;
}

aside {
    background-color: grey;
    padding-bottom: 5px;
    position: static;
}

footer {
    margin-top: 80%;
}