html {
    background-color: black;
    color: hotpink;
}

.container1 {
    display: flex;
    align-items: flex-start;
}

header {
    text-align: center;
    flex: 1;
}

.links {
    text-align: left;
    margin-bottom: auto;
    flex: 1;
}

aside {
    background-color: rgb(45, 46, 46);
    padding-bottom: 5px;
    position: static;
}

#p {
    text-align: center;
}

a {
    color: lightblue;
}

a:hover {
    color: purple;
}
